@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header {
    @include flexCenter(column, blue);
    background: lightblue;
    height: 900px;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background: red;
        }
        &::after {
            content: "hellooooooo";
        }
    }
}